{% extends "mother.html" %}
{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="offset-lg-2 col-lg-8">
            <div class="title-01 title-01--11 text-center">
                <h2 class="title__heading">
                    <span>静夜思</span>
                </h2>
                <div class="title__description">
                    <p>床前明月光，疑是地上霜。</p>
                    <p>举头望明月，低头思故乡。</p>
                </div>
                <!-- Options btn color: .btn-success | .btn-info | .btn-warning | .btn-danger | .btn-primary -->
                <div class="title__action">
                    <button class="btn btn-success" id="to_poem">开启创作</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}