<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POEM</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&amp;subset=latin-ext" rel="stylesheet">

    <!--CSS-->
    <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet" type="text/css">
    <!--JS-->
    <script src="{{ url_for('static', filename='assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/vendor/jquery-1.12.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
</head>

<div class="site" id="page">
    <a class="skip-link sr-only" href="#main">Skip to content</a>

    <!-- Options headline effects: .rotate | .slide | .zoom | .push | .clip -->
    <section class="hero-section hero-section--image clearfix clip">
        <div class="hero-section__wrap">
            <div class="hero-section__option">
                <img src="{{ url_for('static', filename='assets/images/index.jpg') }}" alt="Hero section image">
            </div>
            <!-- .hero-section__option -->
            {% block body %}{% endblock %}
        </div>
    </section>
</div>

<!-- JS -->
<script src="{{ url_for('static', filename='assets/js/plugins/animate-headline.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>

</html>